@use 'mixins';
@use 'variables';

// Fonte para texto normal
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

// Fonte para títulos
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    @include mixins.espacamento(0, 0);
}

// Estilizações Gerais pensando em mobile first

h1 {
    font-family: 'Montserrat', sans-serif;
    @include mixins.text(auto, 500, auto, uppercase, 2px);
}

// Header
.cabecalho {
    @include mixins.flex(space-around);
    @include mixins.espacamento(0, 1rem 0);
    @include mixins.position(fixed, 0, 0, 100%, auto);
    transition: background 0.3s, padding 0.3s;

    img {
        @include mixins.size(150px, auto);
    }

    a {
        @include mixins.link(white);
        margin-right: 20px;
    }

    .icones_nav {
        @include mixins.flex(center);
        gap: 30px;
    }
}

// Deixar o header bonito quando da scroll
.scrolled {
    border-bottom: 2px solid variables.$cor_principal;
    background-color: #244b5eb5;
}

// Estilização do botao do menu
#menuBar {
    background-color: transparent;
    border: none;
    color: white;
}

// HOME:
// Video de fundo
.video-background-container {
    &::after {
        content: "";
        @include mixins.position(absolute);
        background: rgba(0, 0, 0, 0.348);
        z-index: -999;
    }
}

video {
    @include mixins.position(absolute);
    z-index: -1000;
    object-fit: cover;
    opacity: 1;
}

// Espaçamento necessário para não ficar texto em cima do vídeo
main {
    margin-top: 100vh;
}

// A importancia dos oceanos
.porcentagens {
    @include mixins.text(50px, 600, variables.$cor_principal);
}

// Realidade
#realidade {
    background-image: url('../assets/poluicao.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit: cover;

    // teste
    padding: 100px;
}

#importancia {
    @include mixins.flex(center, column);
    gap: 50px;
    @include mixins.espacamento(3rem 0, 0);

    h2, p {
        text-align: center;
    }

    div{
        max-width: 250px;
    }
}

// Mobile first :)
@media screen and (max-width: 767px) {
    nav a {
        display: none;
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav a {
        display: none;
    }

    #importancia {
        @include mixins.flex(space-around);
        flex-wrap: wrap;
    }
}

// Desktop 
@media screen and (min-width: 1024px) {
    #menuBar {
        display: none;
    }
    
    .cabecalho {
        @include mixins.espacamento(0, 2rem 0);
    }

    #importancia {
        @include mixins.flex(space-around);
    }
}